.post-block {
  .controls {
    padding: 5rem 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
      color: $color-primary;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      li {
        &:first-of-type {
          font-weight: 200;
          cursor: none;
        }
        &.mixitup-control-active {
          font-weight: 700;
        }
      }
    }
  }
  .post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
    .mix {
      .test-image {
        border: 1px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25rem;
        @include backgroundCover;
      }
      svg {
        position: absolute;
      }
      .heading-highlight {
        padding: 2rem 0;
      }
    }
    .post-text {
      .underscores {
        &::after {
          padding-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  video {
    width: 100%;
  }
  .popup__content {
    text-align: center;
    .quote-cite {
      color: $color-primary;
    }
  }
  blockquote {
    p {
      font-size: 2.5rem;
      font-weight: 400;
    }
    padding: 3rem;
  }
  .popup__left {
    blockquote p {
      font-size: 2rem;
    }
  }
}
