.feature-box {
  font-size: 1.5rem;
  position: relative;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  border: 1px solid $color-primary-dark;
  text-transform: uppercase;

  svg {
    height: 2rem;
  }

  .heading-tertiary {
    font-size: 1.6rem;
    color: $color-primary;
  }

  @include respond(tab-port) {
    padding: 2rem;
  }

  &.edited {
    i {
      font-size: 2.5rem;
    }

    .heading-tertiary {
      color: $color-primary;
    }
  }

  .arrow {
    svg {
      width: 3rem;
      height: 3rem;
      fill: $color-primary;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.image-block {
  display: flex;
  grid-gap: $gutter-horizontal;
  margin-bottom: $gutter-horizontal;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.dest-slider {
  .dest-item {
    @include backgroundCover;
    min-height: 37.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 2rem;

    h2 {
      font-family: $default-header-style;
      
    }

    a {
      
      display: block;
      border: 1px solid ;
      padding: 1rem;
    }
  }
  @for $i from 1 through 10 {
    $base: 10;
    $offset: $base * $i;
    .imageoff-#{$offset} {
      background-position: $offset + 0% center !important;
    }
  }
}

.prop-slider {
  .property-style-block {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "top main" "lt main" "lt main";
    grid-gap: 2rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column-reverse;
    }

    .style-text {
      // padding: 5rem 0 0 5rem;
      grid-area: lt;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        color: $color-black;
        border: 1px solid $color-black;
      }
    }

    .style-image {
      grid-area: main;
      @include backgroundCover;

      @include respond(phone) {
        height: 30rem;
      }
    }

    .heading-secondary {
      padding-bottom: 2rem;
    }
  }

  .owl-nav {
    padding: 0.5rem 2rem;

    .owl-prev {
      left: 3.5rem;
      top: 0;
      color: $color-black;
      border: 1px solid $color-black;
      background: none;
    }

    .owl-next {
      left: 7rem;
      right: unset;
      top: 0;
      color: $color-black;
      border: 1px solid $color-black;
    }
  }
}

.itin-slider {
  &.owl-theme .owl-nav {
    margin-top: 25px;
  }

  .itin-slide-block {
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 55rem;

    .itin-slide-image {
      height: 25rem;
      @include backgroundCover;

      .overlay-country {
        position: absolute;
        z-index: 2;
        
        margin: 2rem 1.5rem;
        display: flex;
        grid-gap: 1rem;
        flex-wrap: wrap;

        span {
          background: $color-black;
          padding: 1rem;
        }
        a {
          
          margin-bottom: 1rem;
        }
      }
    }

    .itin-slide-text {
      padding: 1rem 2rem;
      flex: 1;

      .button {
        font-size: inherit;
        font-weight: 400;
      }

      a {
        color: $color-black;
      }

      .underscores:after {
        padding-top: 1.5rem;
      }
    }

    .itin-slide-button {
      padding: 1rem 2rem 2rem;
    }
  }

  .owl-prev,
  .owl-next {
    position: relative;
    border: 1px solid $color-black;
  }

  .owl-prev {
    left: -16.7%;
  }

  .owl-next {
    right: 15.7%;
  }

  // .owl-stage > .active {
  //   opacity: 0;
  //   transition: all 0.5s;
  // }

  // .owl-stage > .active ~ .active {
  //   opacity: 1;
  // }
}

.destination-grid {
  .destination-item {
    

    .dest-image {
      @include backgroundCover;
      height: 25rem;
    }

    .dest-text {
      padding: 1rem 3rem;

      p,
      .button {
        font-size: inherit;
      }

      .heading-secondary {
        padding-bottom: 1rem;
      }
    }
  }

  .itin-block {
    

    .itin-image {
      @include backgroundCover;
      height: 25rem;
    }

    .itin-text {
      padding: 1rem 3rem;

      a {
        color: $color-black;
      }
    }
  }
}

.map-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }

  .map-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;

    @include respond(phone) {
      min-height: 40rem;
    }

    .overlay-link {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .map-link {
        background: rgba($color-black, 0.7);
        
        text-transform: uppercase;
        padding: 0.5rem 1rem;
      }

      a {
        i {
          font-size: 1.8rem;
        }
      }
    }
  }

  .map-box {
    position: relative;
    min-height: 45rem;

    .overlay-country {
      position: absolute;
      z-index: 2;
      
      margin: 2rem 1.5rem;
      display: flex;
      grid-gap: 1rem;
      flex-wrap: wrap;

      span {
        background: $color-black;
        padding: 1rem;
      }
      a {
        
        margin-bottom: 1rem;
      }
    }
  }

  .image {
    img {
      @include imageSize;
      border: 1px solid $color-text;
    }
  }

  .highlight-text {
    .text {
      padding: 0 4rem 2rem 0;
      // font-size: 1.2rem;
      @include respond(phone) {
        padding: 2rem;
      }
    }

    ul {
      padding: 1.5rem;
      li {
        // padding-bottom: 1rem;
      }
      @include respond(phone) {
        padding: 2rem;
      }
    }

    .heading-tertiary {
      text-transform: uppercase;
      font-family: $default-header-style;
      font-size: 2rem;
    }
  }
}

.advert-hero {
  min-height: 45rem;
  @include backgroundCover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-size: contain;
  .advert_text {
    width: 35%;
    margin-left: 10%;
    @include respond(phone) {
      width: unset;
      margin: 0;
    }

    .heading-secondary,
    .heading-secondary--sub,
    p {
      
      padding: 1rem 0;
    }
    .underscores:after {
      border-bottom-
    }
    .advert_link {
      .button {
        padding: 2rem 4rem 2rem;
      }
    }
  }
}

.section-itinerary {
  .row {
    position: relative;
  }

  .mask {
    position: absolute;
    width: 20rem;
    top: -0.5rem;
    right: 0;
    height: 100%;
    background: rgb(239, 239, 239);
    background: linear-gradient(
      270deg,
      rgba(239, 239, 239, 1) 30%,
      rgba(239, 239, 239, 0) 100%
    );
    z-index: 2;
  }
}

.itinerary-item {
  
  display: flex;
  flex-direction: column;

  // min-height: 55rem;
  .itin-item-image {
    height: 25rem;

    @include backgroundCover;

    .overlay-country {
      
      margin: 2rem 1.5rem;
      display: flex;
      grid-gap: 1rem;
      flex-wrap: wrap;

      span {
        background: $color-black;
        padding: 1rem;
      }
      a {
        
        margin-bottom: 1rem;
      }
    }
  }

  .itin-item-text {
    flex: 1;
    padding: 1rem 4rem;
  }

  .itin-item-link {
    padding: 0 4rem 4rem;
  }
}
