.testimonial-slider {
  text-align: center;
  background: $color-primary;
  .quote {
    .centre-line {
      display: flex;
      div {
        flex: 1;
      }
    }
    .line {
      border-right: 1px solid ;
      height: 2rem;
      margin: 2rem 0;
    }
  }
  .owl-carousel {
    padding: 0 15%;
    @include respond(tab-port) {
      padding: 0;
    }
  }
  .quote-cite {
    text-transform: uppercase;
    font-weight: 700;
  }
  .button {
    border: 1px solid $color-primary;
    color: $color-primary;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 5rem 0;
    &:hover {
      &:after {
        content: "→";
        transition: all ease 0.5s;
        opacity: 1;
        left: 8px;
      }
    }

    &:after {
      content: "→";
      transition: all ease 0.5s;
      position: relative;
      opacity: 0;
      left: -12px;
    }
  }
}
.testimonial-block {
  .controls {
    padding: 5rem 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
      color: $color-primary;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      li {
        &:first-of-type {
          font-weight: 200;
          cursor: none;
        }
      }
    }
  }
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
    .mix {
      .test-image {
        border: 1px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25rem;
        @include backgroundCover;
      }
      svg {
        position: absolute;
      }
      .heading-highlight {
        padding: 2rem 0;
      }
    }
  }
  video {
    width: 100%;
  }
  .popup__content {
    text-align: center;
    .quote-cite {
      color: $color-primary;
    }
  }
  blockquote {
    p {
      font-size: 2.5rem;
      font-weight: 400;
    }
    padding: 3rem;
  }
  .popup__left {
    blockquote p {
      font-size: 2rem;
    }
  }
}
.single-testimonial {
  .centre-line {
    display: flex;
    div {
      flex: 1;
    }
  }
  .line {
    border-right: 1px solid ;
    height: 2rem;
    margin: 2rem 0;
  }
  .internal-video {
    text-align: center;
    position: relative;
    video {
      width: 100%;
    }
    span {
      @include absCenter;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.3rem;
      width: 100%;
      &.visible {
        animation: quote-fade 3s 1;
        animation-fill-mode: forwards;
        animation-delay: 4s;
      }
    }
  }
  .quote {
    text-align: center;
    .copy {
      color: $color-primary;
      font-size: 2.5rem;
    }
    .quote-cite {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 0.3rem;
    }
  }
}
.logo-slider .owl-carousel {
  .logo {
    display: flex;
    justify-content: center;
    img {
      width: unset;
      max-height: 6rem;
      max-width: 100%;
    }
  }
  .owl-prev,
  .owl-next {
    top: 0rem;
  }
}
.logo-slider-title {
  .heading-secondary--main {
    font-size: 2.5rem;
    color: $color-black;
    text-transform: uppercase;
  }
}
