#login-overlay {
    max-height: 100vh;

    &.fadeOut {
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        transition: max-height 800ms, opacity 500ms;
    }
}

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 500;

    svg {
        filter: brightness(100);
    }
}

.full-page-panel {
    position: relative;
    display: flex;
    height: 100vh;
    background-size: cover;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
        z-index: 0;
        opacity: .5;
        ;
    }

    >.row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .input-wrapper {
        position: relative;
        $overlap: 5rem;

        &:before {
            content: '';
            position: absolute;
            width: $overlap;
            height: 100%;
            top: 0;
            left: -$overlap;
            background: white;
        }

        input,
        button {
            position: relative;
            display: block;
            border: none;
            font-size: $default-font-size;
            font-family: $default-font-style;
            padding: 2rem calc($overlap * 2) 2rem 0;
            width: 100%;
            text-transform: uppercase;
            outline: none;
            height: 6rem;
        }

        button {
            position: relative;
            background-color: $color-primary;
            color: white;
            text-align: left;

            &:before {
                content: '';
                position: absolute;
                width: $overlap;
                height: 100%;
                top: 0;
                left: -$overlap;
                background: white;
                background-color: $color-primary;
            }
        }

        .proceed-itin {
            position: absolute;
            top: 0;
            right: 0;
            width: 5rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-primary;
            opacity: 1;
            transition: 0.5s 0.5s opacity ease;

            &.hide {
                opacity: 0;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }



}

.details-entry {
    position: relative;
    width: 40rem;
    z-index: 10;

    .heading {
        color: $color-primary;

        &__primary {
            margin-top: 1rem;
            margin-bottom: 5rem;
            text-transform: uppercase;
            color: white;
        }
    }
}

.single-itineraries {
    header {
        opacity: 0;

        &.visible {
            opacity: 1;
        }
    }

    .inputs {
        position: relative;
        width: 100%;
    }

    .input-wrapper {
        position: absolute;
        top: 0;
        transition: 0.5s .5s top ease;
        width: 100%;

        &.anchor {
            position: relative;
            top: 0;
            z-index: 50;
        }

        &.password,
        &.submit-button {
            top: 0;
            z-index: 30;
        }
    }
}


main.loaded {
    .input-wrapper.password {
        top: calc(100% + 2rem);
    }

    .input-wrapper.submit-button {
        top: calc(100% + 12rem);
    }
}