// COLORS
$color-primary: #C9BCAE;

$color-grey-dark: #292D2F;
$color-grey-mid: #494E50;
$color-grey-light: #c7c7c7;

$color-black: #1d1d1b;
$color-text: #2a2a2a;

// FONT
$default-font-style: 'lato', sans-serif;
$default-header-style: 'trajan-pro-3', serif;
$alt-font-header: 'baskerville-urw', serif;
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

$fastEffect: all 0.5s ease-in-out;
$slowEffect: all 1s ease-in-out;
$crawlEffect: all 3s ease-in-out;