body {
  font-family: $default-font-style;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-text;
}

.heading {
  font-family: $default-header-style;
  font-weight: 300;
  line-height: 1;

  &__xl {
    font-size: 8rem;
    text-transform: uppercase;
  }

  &__lg {
    font-size: $default-font-size * 3.5;
    font-weight: 400;
  }

  &__med {
    font-size: $default-font-size * 2;
    font-weight: 400;
  }

  &__sm {
    font-size: $default-font-size * 1.2;
    font-weight: 400;
  }

  &__alt {
    font-family: $alt-font-header;
    text-transform: uppercase;
    color: white;
  }

  @include respond(phone) {}

  &__primary {
    font-family: $default-font-style;
    color: $color-primary;
  }

  &__light {
    color: white;
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &+p {
    margin-top: 1em;
    ;
  }
}

a {
  text-decoration: none;
  color: $color-black;
}

.paragraph,
p,
ul {
  font-size: $default-font-size;
  font-weight: 300;
  ;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

blockquote {
  font-family: $default-font-style;
  font-size: 5rem;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  text-align: center;
  font-size: 1.3rem;
}

.breadcrumb a {
  color: $color-primary;
}

article {
  text-align: left;
}

.alt-font {
  font-family: $alt-font-header;
}