.u-center-text {
  text-align: center !important;
}
.u-margin-default {
  margin: 0;
}
.u-margin-medium {
  margin: 5rem;

  @include respond(phone) {
    margin: 3rem;
  }
}
.u-margin-bottom {
  margin-bottom: 5rem;

  @include respond(phone) {
    margin-bottom: 3rem;
  }
}
.u-margin-top {
  margin-top: 5rem;

  @include respond(phone) {
    margin-top: 3rem;
  }
}
@include respond(phone) {
  @for $i from 1 through 10 {
    $base: 10;
    $offset: $base * $i;
    .imageoff-#{$offset} {
      background-position: $offset + 0% center !important;
    }
  }
}

@for $i from 1 through 10 {
  $base: 10;
  $shade: $base * $i;
  .darkoverlay-#{$shade} {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, $shade + 0%);
  }
}

@for $i from 1 through 10 {
  $padd: $i;
  .gap-#{$padd} {
    padding: #{$padd}rem 0;
  }
}
