footer {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 4rem;
    width: 100vw;
    height: 100vw;
    background-image: url('inc/img/leopard.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .1;
  }

  p {
    font-size: $default-font-size * .8;

    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }

  .testimonial {
    padding: 10rem 0;
    background-size: cover;

    &__item {
      width: 50vw;
      color: white;

      .copy {
        position: relative;
        font-family: $alt-font-header;
        font-style: italic;
        font-size: $default-font-size * 1.1;

        &:after {
          content: '';
          position: absolute;
          bottom: -3rem;
          left: 0;
          width: 10rem;
          height: 1px;
          background: white;
        }
      }

      .author {
        margin-top: 6rem;
        margin-bottom: 4rem;
        ;
        font-family: $default-header-style;
      }
    }
  }

  .lower-panel {
    position: relative;
    padding: 5rem 0;

    .logo {
      margin-bottom: 3rem;
      ;
    }

    .menu-item {
      text-transform: uppercase;
    }

  }

  .video {
    text-transform: uppercase;
    display: flex;

    svg {
      margin: -1rem 0 0 1rem;
      transition: .3s filter ease;

      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
      }
    }
  }

  .socket {
    border-top: 1px solid $color-grey-light;
    padding: 1rem 0;
  }
}