.footer {
  font-size: 1.4rem;
  
  background: $color-black;
  font-family: "work-sans", sans-serif;
  @include respond(tab-port) {
    padding: 8rem 0 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
  .footer-accreds {
    background: $color-grey-light;
    padding: 2rem 0;
    .company-links {
      display: flex;
      align-items: center;
      grid-gap: 3rem;
      @include respond(tab-port) {
        flex-direction: column;
      }
      img {
        height: 4rem;
      }
      .heading-secondary--main {
        font-family: $default-header-style;
        text-transform: uppercase;
        font-size: 1.6rem;
      }
    }
  }
}
.footer-navbar {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
  grid-template-rows: 1fr 1fr;
  padding: 3rem 0;
  grid-gap: 1rem;
  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
    grid-row: span 2;
    padding-right: 2rem;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
    svg {
      width: 80%;
      path {
        
      }
    }
    img {
      width: 80%;
      padding-top: 1.5rem;
    }
    .contact-details {
      padding: 0rem 0 3rem 0;
      font-size: 1.2rem;
      p {
        font-size: 1.2rem;
      }
      .lower-footer-links {
        padding-right: 1rem;
        margin-bottom: 1rem;
        li {
          padding-bottom: 1rem;
        }
      }
    }
    .outline {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      text-transform: unset;
      justify-content: center;
    }
  }
  .nav {
    padding: 3rem 0;
    ul {
      list-style: none;
      column-count: 3;
      li {
        border-left: 1px solid $color-primary;

        a {
          
          text-transform: uppercase;
          text-decoration: none;
          padding: 2rem;
        }
      }
    }
  }
  .explore-links {
    padding-top: 3.5rem;
    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      .lower-footer-links {
        li {
          // display: inline;
          padding-bottom: 1rem;
        }
      }
    }
    p {
      margin: 0;
    }
    a {
      
    }
  }
  .about-links {
    padding-top: 3.5rem;
    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      .lower-footer-links {
        li {
          // display: inline;
          padding-bottom: 1rem;
        }
      }
    }
  }
  .privacy-links {
    padding-top: 3.5rem;
    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      .lower-footer-links {
        li {
          // display: inline;
          padding-bottom: 1rem;
        }
      }
    }
  }
  .company-links {
    img {
      height: 5rem;
    }
  }
  .footer-feed {
    grid-column: 2/5;
    padding-top: 2rem;
    border-top: 1px solid ;
    @include respond(tab-port) {
      padding: 2rem 0;
      width: 100%;
    }
    ul {
      li {
        p {
        }
        a {
          font-size: 1.3rem;
          &.italic {
            font-weight: 300;
            font-family: $alt-font-header;
            text-transform: uppercase;
          }
          &.overscores::before {
            margin-bottom: 1rem;
          }
        }
        span {
          padding: 0 1rem;
        }
      }
    }
  }
  .newsletter-block {
    padding: 3.5rem 0 0 2rem;
    grid-row: span 2;
    @include respond(tab-port) {
      padding: 3.5rem 0;
    }
    .mc4wp-form-fields {
      padding: 0 0 2rem;
      input {
        color: white;
        background: rgba(255, 255, 255, 0.4);
        padding: 1rem 3rem;
        border: none;
      }
      input[type="submit"] {
        border: 1px solid ;
        background: transparent;
        width: 100%;
        margin-top: 1rem;
      }
    }
    .mc4wp-form ::-webkit-input-placeholder {
      
      opacity: 1;
    }
    .name {
      display: flex;
      justify-content: space-between;
      grid-gap: 0.5rem;
      padding-bottom: 1rem;
      @include respond(tab-port) {
        flex-direction: column;
        padding-bottom: 0.5rem;
        input {
          width: 100%;
        }
        label {
          padding-bottom: 0.5rem;
        }
      }
    }
    .email {
      @include respond(tab-port) {
        margin: 0;
      }
      input {
        width: 100%;
      }
    }
    .news-terms {
      font-size: 1.1rem;
      padding: 2rem 0 0;
      a {
        color: $color-primary;
      }
    }
  }

  .heading-tertiary {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0rem 0 1.5rem;
    font-family: $default-font-style;
    font-weight: 700;
    @include respond(tab-port) {
      font-size: 1.4rem;
    }
  }

  .lower-footer-links {
    li {
      list-style: none;
      font-size: 1.2rem;
      flex: 1;
      a {
        
      }
      @include respond(tab-port) {
        font-size: 1.4rem;
      }
    }
  }
  .social-links {
    display: flex;
    grid-gap: 2rem;
    li {
      list-style: none;
      font-weight: 400;
      i {
        
        font-size: 1.7rem;
      }
    }
    @include respond(tab-port) {
      display: flex;
      justify-content: center;
    }
  }
  .privacy {
    padding: 3rem 0;
    ul {
      list-style: none;
      li {
        border-left: 1px solid $color-primary;
        a {
          
          text-decoration: none;
          padding: 2rem;
        }
        span {
          padding: 2rem;
        }
      }
    }
  }
  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav ul {
      column-count: 2;
    }
  }
}
.footer-message {
  .footer-hero {
    height: 50rem;
    @include backgroundCover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .centre-line {
      display: flex;
      padding: 1rem;
      div {
        flex: 1;
      }
    }
    .line {
      border-right: 1px solid ;
      height: 3rem;
      padding-top: 1rem;
    }

    .footer_text {
      width: 35%;
      margin-left: 10%;
      @include respond(tab-port) {
        width: unset;
        margin: 0;
        padding: 0 2rem;
      }
      .heading-secondary {
        
        font-size: 4rem;
        &--sub {
          
          font-weight: 400;
        }
      }
      p {
        display: block;
        
        padding: 1rem 0;
        font-size: 1.6rem;
      }
      .underscores:after {
        border-bottom: 1px solid ;
      }
    }
    .footer_link {
      border: 1px solid ;
      padding: 2rem 4rem 2rem;
      margin-bottom: 2rem;
      @include respond(tab-port) {
        margin: 0;
      }
      .footer_button {
        display: block;
        
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700;
        &:hover {
          &:after {
            content: "\f054";
            font-family: "Font Awesome 6 Pro";
            font-weight: 300;
            transition: all ease 0.5s;
            position: absolute;
            right: 0rem;
          }
        }

        &:after {
          content: "\f054";
          font-family: "Font Awesome 6 Pro";
          font-weight: 300;
          transition: all ease 0.5s;
          position: absolute;
          right: 1rem;
        }
      }
      a {
        
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.1rem;
        position: relative;
      }
    }
  }
}
